[submodule "app-compiler"]
	path = app-compiler
	url = https://github.com/fudaneda/app-compiler
	branch = main
[submodule "benchmarks"]
	path = benchmarks
	url = https://github.com/fudaneda/benchmarks
	branch = main
[submodule "fgra-mapper"]
	path = fgra-mapper
	url = https://github.com/fudaneda/fgra-mapper
	branch = main
[submodule "fgra-mg"]
	path = fgra-mg
	url = https://github.com/fudaneda/fgra-mg
	branch = main
